.qr {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;
}
.qr-txt {
  margin: 0;
}
.qr-btn {
  margin-top: 30px;
  margin-bottom: 60px;
  cursor: pointer;
  background-color: #0071FF;
  border: none;
  color: #FFFFFF;
  padding: 4px 10px;
  border-radius: 4px;
}
.qr-info {
  margin: 2px;
}
.qr-wrrapper {
  width: 300px;
  height: 300px;
}
.qr-wrrapper .qr-canvas {
  width: 100% !important;
  height: 100% !important;
}
.info-box {
  text-align: center;
  margin: 20px 0;
}